/* selector(html tag, class, id) {
    declaration (property: value;)
}

p or .page-header or #banner {
    font-size: 16px;
} */


/* DEFAULT STYLING GIVEN TO THE WHOLE BODY OF VISIBLE CONTENT */
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    /*hero and base background*/
    /* background: rgb(199, 220, 233);  */
    /* background-image: linear-gradient(to right, rgb(199, 219, 255), rgb(248, 248, 208)); */
    background-image: linear-gradient(to left, rgb(199, 219, 255), rgb(255, 255, 255));
}


/* HEADER */

/* no2 */
header {
    /* background, text colour */
    /* background: black; */
    /* color:rgb(23, 61, 95); */
    /* padding: top & bottom 0px, left & right: 30px */
    padding: 0px 30px;
    position: fixed;
    width: 100%;
    border-style: groove;
    background: white;
    opacity: 0.8;
}


/* no3 */
header #header-logo {
    /* color: aliceblue; */

    /* AMEEMEE | 2023 */
    color:rgb(139, 160, 200);
    text-decoration: none;
    /* border-style: dashed; */
    /* padding-left: 40px; */
    /* width: 49%; */
    width: 49%;
    display: inline-block;
}


/* no4 */
header img {
    width: 49px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    opacity: 1;
}

/* no5 */
header h2 {
    font-size: 16px;
}

/* MAIN NATIVATION */
/* no6 */
header #header-nav {
    width: 49%;
    display: inline-block;
    text-align: right;
    /* border-style:double; */
    /* padding: 0px; */
}

/* no7 */
header #header-nav ul {
    list-style: none;
    padding: 0;
}

/* no8 */
header #header-nav ul li {
    display: inline-block;
}

/* no9 */
header #header-nav ul li a {
    /* ABOUT ME, PROJECTS */
    color: rgb(237, 199, 12);
    /* text-decoration:lightblue wavy underline; */
    text-decoration: none;
    padding: 0px 30px;
    /* border-style:dotted; */
}

/* no10 */
header #header-nav ul li a:hover {
    /* background: #444; */
    border-radius: 3px;
    transition: 0.3s ease all;


    /* background-image: url();
    background-size: cover; */
}

/* CLASS DEFINITIONS */
.section-header {
    text-align: center;
    /* margin-bottom: 0px; */
    font-size: 30px;
    /* background-color: red; */
    text-itali
    
    /* border-style: dotted; */
}

/* .box {
    display: inline-block;
    width: 27%;
    padding: 20px 30px;
} */
a {
    color: rgb(237, 199, 12);
}

.site-section {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 50px;

    color: rgb(237, 199, 12);

    background: rgb(255, 255, 255);

    border-style: solid;
    border-radius: 1cm;
}

.section-under-header {
    /* margin: 5% 5% 10% 10%; */
    /* border-style: dashed; */
    /* border-color: orange; */
    /* padding:0% 5% 0% 5%; */
}



/* MAIN */
/* HERO */
/* h1 */

#hero,
#hero-content {
    text-align: left;
    background: transparent;
    /* border-style: dashed; */
    border-width: 0.1cm;
    /* border-color: yellow; */
    line-height: 1;
    font-size: 100px;
    /* padding: 0%, 0%, 0%, 0%; */
    /* padding: 1 */
    padding-left: 5%;
    padding-right: 5%;
}

.subheading {
    font-size: 50px;
    line-height: 0;
}



/* ABOUT */
.about {
    width: 100%;
    padding: 50px 0;
}

#aboutMe {
    padding-bottom: 5%;
}

#aboutMeParagraph {
    font-size: 40%;


    /* THIS IS A BIT ABOUT ME HERE */
    color: rgb(237, 199, 12);

    display: table;
    background: rgb(243, 247, 255);
}

#aboutMeParagraph img {
    width: 100%;
    content: "";
    clear: both;
    display: table;
}

.boxx {
    float: left;
    /* width: 40%; */
    /* padding: 20px; */
}

#left {
    width: 30%;
    /* border-style: dotted; */
    padding: 1%;
}

#right {
    width: 66%;
    /* border-style: dotted; */
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}


/* PROJECTS SIDE BY SIDE */
#projects {
    padding-bottom: 5%;
}

#sideByside {
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    font-size: 20px;
}

.box {
    /* SOME PAST PROJECTS 3 BOXES */
    background: rgb(242, 246, 254);
    display: table-cell;
    width: 27%;
    /* padding: 20px 30px;   */
    /* border-style: dashed; */
    /* border-color: green; */
    /* padding: 1% 0% 1% 1%; */
    padding-left: 1%;
    padding-right: 1%;
}

img,
.box-image {
    width: 100%;
    height: auto;
}

/* FOOTER */

footer {
    /* background: #222; */
    /* AMEEMEE C 2023 */
    color: rgb(237, 199, 12);
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    /* border-style: dotted;
    border-color: red; */
}

footer img {
    /* display: block;
    border-radius: 50&;
    width: 100%;
    height: auto;
    margin: 0 auto 10px;
    vertical-align: */

    /* width: 49px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle; */
    display: block;
    /* border-radius: 5px; */
    border-radius: 50%;
    width: 80px;
    margin: 0 auto 10px;
}